@use 'base/mixins' as m;
@use 'base/variables' as v;

.alerta {
    padding: .5 rem;
    text-align: center;
    color:v.$blanco;
    font-weight: v.$bold;
    text-transform: uppercase;
    margin: 1rem 0;
 

  &.error {
    background-color: rgb(212, 29, 16);
  }
}
