// Importando mixins y variables desde el directorio base
@use 'base/mixins' as m; // Importa mixins desde el archivo base/mixins
@use 'base/variables' as v; // Importa variables desde el archivo base/variables

// Estilos para el contenedor de video
.video {
  // Ajusta el video para que se adapte a la pantalla
  position: relative; // Posiciona el contenedor de video de manera relativa
  max-height: 70rem; // Define la altura máxima del contenedor de video
  min-height: 50rem; // Define la altura mínima del contenedor de video
  overflow: hidden; // Oculta cualquier contenido que se desborde del contenedor

  // Estilos para la superposición dentro del contenedor de video
  .overlay {
    position: absolute; // Posiciona la superposición de manera absoluta dentro del contenedor de video
    background: rgb(255, 0, 249); // Define el color de fondo inicial de la superposición
    background: linear-gradient(
      90deg,
      rgba(255, 0, 249, 0.4598214285714286) 30%,
      rgba(2, 0, 36, 1) 94%
    ); // Aplica un gradiente de fondo a la superposición
    width: 100%; // Define el ancho completo de la superposición
    height: 100%; // Define la altura completa de la superposición
    display: flex; // Utiliza flexbox para el diseño de la superposición
    flex-direction: column; // Organiza los elementos flexibles en columna
    justify-content: center; // Centra los elementos flexibles verticalmente
  }
  video {
    width: auto; // Define el ancho completo del video
    @include m.desktop { // Aplica el mixin desktop a los estilos del video
      // Aplica el mixin tablet a los estilos del video
      width: 100%; // Define el ancho completo del video en dispositivos de tamaño tablet
    }
  }
}

// Estilos para el contenido del video
.contenido-video {
  z-index: 10; // Define el orden de apilamiento del contenido del video
  h2 {
    color: v.$blanco; // Aplica el color del texto del encabezado desde la variable $blanco
    font-size: 7rem; // Define el tamaño de fuente del encabezado
    margin: 0; // Elimina el margen del encabezado
  }
  p {
    color: v.$blanco; // Aplica el color del texto del párrafo desde la variable $blanco
    background-color: v.$rosa; // Aplica el color de fondo del párrafo desde la variable $rosa
    display: inline-block; // Muestra el párrafo como un bloque en línea
    padding: 1rem 2rem; // Define el relleno interno del párrafo
    font-weight: 700; // Define el peso de la fuente del párrafo
    font-size: 2.4rem; // Define el tamaño de fuente del párrafo
    margin:0; // Elimina el margen del párrafo
  }
}
